<%= turbo_stream_from "messages" %>

<div id="messages" class="h-screen p-4 space-y-4 overflow-auto bg-gray-50 md:h-auto" >
  <p>
    Last refreshed <%= Time.now %>
  </p>
  <%= render @messages %>
</div>
<div class="inset-x-0 bottom-0 p-4 bg-white shadow ">

  <%= render 'form', message: Message.new %>
</div>
